* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HERO */
.hero {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(to right, #3498db, #8e44ad);
	color: white;
	text-align: center;
}

/* CONTAINER */
.container {
	display: flex;
	justify-content: center;
	padding: 40px;
	gap: 20px;
	height: 30vh;
}

/* CARD */
.card {
	width: 250px;
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	transition: 0.3s;
	position: relative;
	top: 50px;
}

/* BUTTON */
.card button {
	padding: 10px 15px;
	border: none;
	background: #3498db;
	color: white;
	cursor: pointer;
}

/* HOVER */
.card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
	background-color: #f1f1f1;
}

/* RESPONSIVE */
@media (max-width: 768px) {
	.container {
		flex-direction: row;
	}
}