/* TODO 6 : Reset margin & padding */

/* TODO 7 : Styling .navbar
   - display flex
   - justify-content space-between
   - padding
   - background gelap
*/

/* TODO 8 : Styling ul
   - hilangkan bullet
   - display flex
   - beri jarak antar menu
*/

/* TODO 9 : Tambahkan hover pada li
   - warna berubah
   - ada underline animation
*/