/* TASK 5 : Atur font default ke Arial atau sans-serif */

/* TASK 6 : Buat background halaman berwarna abu muda */

/* TASK 7 : Styling class .card
   - lebar 300px
   - background putih
   - padding 20px
   - margin tengah (horizontal)
   - border radius
*/

/* TASK 8 : Atur h2 agar teksnya di tengah */

/* TASK 9 : Atur paragraf agar warnanya abu gelap */
