/* TASK 5 : Reset margin dan padding semua elemen (atur nilai keduanya jadi 0) */

/* TASK 6 : Atur body
   - tinggi 100vh
   - gunakan flex
   - posisikan container ke tengah layar
*/

/* TASK 7 : Styling .container
   - display flex
   - jarak antar box
*/

/* TASK 8 : Styling .box
   - lebar & tinggi sama
   - background warna bebas
   - teks di tengah (horizontal & vertical)
*/
